@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

.btn-vio{
    @apply bg-violet-800 hover:bg-violet-700
}

.card-bg{
    @apply p-8 rounded-2xl shadow-lg flex flex-col items-center text-center hover:bg-violet-500 hover:shadow-2xl hover:-translate-y-2 hover:scale-105 transition duration-300 ease-in-out
}


 /* Animasi scroll standar dari KANAN ke KIRI */
        @keyframes scroll-left {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-50%);
            }
        }

        .animate-scroll-right {
            animation: scroll-left 5s linear infinite reverse;
        }
        .animate-scroll-left {
            animation: scroll-left 5s linear infinite;
        }

          @keyframes fade-in-up {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .animate-on-scroll {
            animation: fade-in-up linear;

            animation-timeline: scroll(root);

            animation-range: entry 0% cover 30%;
        }
